<div class="hands">
  <div class="hand-stuff">
    <button class="add-card" (click)="addCard()" [disabled]="hand?.slot4">Add Card</button>
    <div *ngIf="turnService.showScoring" class="score">Score: {{ hand.score.totalScore }}</div>
  </div>
  <div class="hand-cards">
    <app-card class="hand-card" [card]="hand?.slot1$ | async"></app-card>
    <app-card class="hand-card" [card]="hand?.slot2$ | async"></app-card>
    <app-card class="hand-card" [card]="hand?.slot3$ | async"></app-card>
    <app-card class="hand-card" [card]="hand?.slot4$ | async"></app-card>
  </div>
</div>

