<main class="user-page">
  <h1>Sign Up</h1>
  <section class="main-section">
    <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
    <input type="password" class="formControl" placeholder="Password" #userPwd required>
    <button value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign up</button>
  </section>
  <p>or...</p>
  <section class="other-options">
    <button (click)="authService.GoogleAuth()">
      Log in with Google
    </button>
    <p>Already have an account?</p>
    <button routerLink="/sign-in">Log In</button>
    <button (click)="navigateToTurn()">Return To Game</button>
  </section>
</main>
