.header {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  }

.hands {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-hand {
  min-height: 85px;
}

.spread-out-deck {
  max-width: 200px;
}
