<main>
  <header>
    <app-card [card]="turnService.currentCard"></app-card>
      <span>Total Score: {{ turnService.totalScore }}</span>
      <button (click)="turnService.clearTurn()">New Turn</button>
  </header>
  <div class="hands">
    <app-hand [hand]="turnService.firstHand"></app-hand>
    <app-hand [hand]="turnService.secondHand"></app-hand>
    <app-hand [hand]="turnService.thirdHand"></app-hand>
    <app-hand [hand]="turnService.fourthHand"></app-hand>
    <app-hand [hand]="turnService.cribHand"></app-hand>
  </div>
</main>