main {
  padding: 1rem 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
}

main header {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-options {
  display: flex;
  justify-content: space-between;
}

.hands {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scoring-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    margin-top: .5rem;
  }
}

footer {
  display: flex;
  justify-content: space-between;
}