<div class="spread-out-deck">
  <div class="header">
    <app-card [card]="turnService.currentCard"></app-card>
      <div class="scoring-block">
        <button (click)="turnService.toggleScoring()">{{ turnService.showScoring ? 'Hide Scoring' : 'Show Scoring' }}</button>
        <span *ngIf="turnService.showScoring">Total Score: {{ turnService.totalScore }}</span>
      </div>
      <button (click)="turnService.clearTurn()">New Turn</button>
  </div>
  <div class="hands">
    <app-hand [hand]="turnService.firstHand"></app-hand>
    <app-hand [hand]="turnService.secondHand"></app-hand>
    <app-hand [hand]="turnService.thirdHand"></app-hand>
    <app-hand [hand]="turnService.fourthHand"></app-hand>
    <app-hand [hand]="turnService.cribHand"></app-hand>
  </div>
</div>
